.cart-list {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cart__elements {
    width: 1100px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* не растягивать строки по высоте */
    align-items: flex-start;
    /* на всякий */
    gap: 18px;
    justify-content: flex-start;
    padding: 0 10px 10px 0;
}

.cart__element {
    width: 521px;
    height: 176px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #343C441A;
    position: relative;
    display: flex;
    padding: 14px;
}

.cart__element-image {
    height: 148px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__element-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart__element-desc {
    margin-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__element-desc-container {}

.cart__element-name {

    font-weight: 300;

    font-size: 14px;
    width: 240px;
    height: 44px;
    line-height: 20px;
    letter-spacing: 0.15px;
    text-transform: uppercase;

}

.cart__element-code {

    font-weight: 400;

    font-size: 10px;

    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 5px;
}

.cart__element__quantity {
    width: 104px;
    height: 30px;
    border: 1px solid var(--Labels---Vibrant---Controls-Secondary, #8C8C8C);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cart__element__quantity button {
    width: 35px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__element__quantity span {

    font-weight: 400;
    font-size: 22px;

    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}


/****PRICE*********/
.cart__element-price {
    position: absolute;
    right: 23px;
    bottom: 23px;


    font-weight: 500;
    font-size: 16px;
    color: #BB1216;
    line-height: 120%;
    letter-spacing: 0.15px;
    text-align: right;

}

/******Delete select*******/
.cart__element-select {
    position: absolute;
    display: flex;
    align-items: center;
    right: 23px;
    top: 23px;
}

.remove_item {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
}

.selected_element {
    margin-left: 9px;
    background-color: rgba(01, 0, 0, 0);
    width: 20px;
    height: 20px;
    border: 1px solid var(--Labels---Vibrant---Controls-Primary, #404040);
    border-radius: 50%;
}


/*****CART TOTAL*******/
/*****CART TOTAL*******/
/*****CART TOTAL*******/
.cart__selected {

    width: calc(100% - 1143px);

}

.cart__selected-name {

    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.selected__items__wrapper {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* не растягивать строки по высоте */
    align-items: flex-start;
    /* на всякий */
    gap: 10px;
    justify-content: flex-start;
    padding: 0 10px 10px 0;


}

.selected_bin-element {
    height: 121px;
    width: 98px;
}

.selected_bin-element-image {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selected_bin-element-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected_bin-element-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.15px;
    display: flex;

}

.cart__total {
    margin-top: 30px;
}

.cart__total__bin {

    border-bottom: 1px solid #D9D9D980;
    padding: 30px 0px;
    border-top: 1px solid #D9D9D980;
}

.cart__total__bin-element {
    display: flex;
    justify-content: space-between;
    color: #343C44;
    font-weight: 300;

    font-size: 14px;

    line-height: 20px;
    letter-spacing: 0.15px;

}

.cart__total__bin-element:nth-child(2) span {
    color: #BB1216;

}

.cart__total__bin-element p {}

.cart__total__button {
    margin-top: 43px;
}

.cart__total__button button {
    background: linear-gradient(98.88deg, #055A00 -2.99%, #710000 102.28%);
    width: 287px;
    height: 52px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-weight: 700;

    font-size: 15px;

    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

.is-selected {
    background-color: #404040;
}



.m-modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 50
}

.m-modal.is-open {
    display: flex
}

.m-overlay {
    position: absolute;
    inset: 0;
    background: rgba(15, 23, 42, .55)
}

.m-dialog {
    position: relative;

}

.m-title {}

.m-text {
    margin: 0 0 16px;
    color: #475569
}

.m-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end
}

.m-btn {
    appearance: none;
    border: 1px solid #cbd5e1;
    background: #e2e8f0;
    color: #0f172a;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer
}

.m-btn:hover {
    background: #cbd5e1
}

.m-btn--danger {
    background: linear-gradient(98.88deg, #055A00 -2.99%, #710000 102.28%);

    border: 1px solid #000000;
    color: #fff;

    font-weight: 700;
    font-style: Bold;
    font-size: 15px;

    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}


.m-dialog-confirm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* базовые стили для success-модалки (минимум) */
#orderSuccessModal.m-modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000
}

#orderSuccessModal.m-modal.is-open {
    display: flex
}

#orderSuccessModal .m-overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: .85
}

#orderSuccessModal .m-dialog {
    position: relative;
    background-image: url('../../images/common/popup-back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 689px;
    height: 413px;
    border-radius: 10px;
    padding: 49px 30px;

    backdrop-filter: blur(100px);

}

#orderSuccessModal .m-title {
    width: 381px;
    height: 54px;
    background-color: #34C81E;
    border-radius: 36px;

    display: flex;
    align-items: center;
    padding-left: 13px;
}

#orderSuccessModal .m-title img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
}

#orderSuccessModal .m-text {

    line-height: 1.45;
    margin: 0 0 14px;
    margin-top: 30px;

}

.m-text {

    font-weight: 400;

    font-size: 20px;
    color: #FFFFFF;
    line-height: 32.97px;
    letter-spacing: 0px;

}

.m-btn-confirm {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 10px;
    right: 10px;
}

#orderSuccessModal .m-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end
}

#orderSuccessModal .m-btn {
    appearance: none;
    border: 0;
    border-radius: 8px;
    padding: 8px 14px;

    color: #e5e7eb;
    cursor: pointer
}

#orderSuccessModal .m-btn:hover {}

.m-text-confirm {
    color: #343C44;
}


@media only screen and (max-width: 1670px) {
    .cart__selected {
        width: 327px;
    }

    .cart__elements {
        width: calc(100% - 327px);
    }

    .cart__element {
        width: 430px;
    }

    .cart__element-name {
        width: 174px;
        height: 56px;
    }
}

@media only screen and (max-width: 1460px) {
    .cart__selected {
        width: 260px;
    }

    .selected_bin-element {
        height: 109px;
        width: 74px;
    }

    .cart__total__button button {
        width: 100%;
    }

    .cart__element-image {
        width: 120px;
    }

    .cart__element-select {
        right: 13px;
        top: 13px;
    }

    .cart__element {
        height: 155px;
    }
}

@media only screen and (max-width: 1380px) {
    .cart__element__quantity {
        width: 80px;
    }

    .cart__element__quantity button {
        width: 30px;
    }

    .selected_element {
        width: 15px;
        height: 15px;
    }

    .remove_item {
        height: 24px;
        width: 24px;
    }

    .remove_item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .cart__element__quantity button {
        width: 25px;
    }

    .cart__element__quantity span {
        font-size: 16px;
    }

    .cart__elements {
        width: calc(100% - 260px);
    }

    .cart__element {
        width: 370px;
    }

    .cart__element-name {
        width: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .cart-list {
        flex-direction: column;
        align-items: center;
    }

    .cart__elements {
        width: 100%;
    }

    .cart__selected {
        width: 100%;
        margin-top: 20px;
    }

    .cart-list {
        padding: 10px;
    }

    .cart__element {
        width: 100%;
        padding: 12px;
    }

    .m-dialog-confirm {
        width: 90%;
    }

    .m-actions {
        justify-content: space-evenly;
    }

    #orderSuccessModal .m-dialog {
        width: 95%;
        padding: 30px;
        padding-top: 70px;
        height: initial;
    }

    #orderSuccessModal .m-title {
        width: 100%;
    }

    .orders {}

    .cart__element-name {
        font-size: 12px;
    }

    #orderSuccessModal .m-dialog {
        padding: 13px;
        padding-top: 70px;

    }

    #orderSuccessModal h3 p {
        font-size: 10px;
    }

    #orderSuccessModal .m-text {
        font-size: 14px;
        line-height: 18px;
        margin: initial;
        margin-top: 22px;
    }

    #orderSuccessModal .m-title {
        height: 40px;
    }

    .cart__element-price {
        right: 11px;
        bottom: 18px;
    }
}

@media only screen and (max-width: 385px) {
    .cart__element-name {
        width: 100px;
    }
}