.dashboard_wrapper {
    width: 100%;

    padding: 30px 22px 45px 37px;
    display: flex;
    justify-content: space-between;
}

.dashboard__content {

    height: 100%;
}

.dashboard__desc {
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.dashboard__desc h3 {
    font-weight: 600;

    font-size: 36px;

    line-height: 44px;
    letter-spacing: 0%;
    margin-bottom: 25px;
}

.dashboard__desc p {
    font-weight: 400;

    font-size: 20px;

    line-height: 32.97px;
    letter-spacing: 0px;
}

.dashboard__advertisement {
    width: 290px;
    height: 100%;
    border-radius: 10px;
    background: #83838321;
}

.dashboard__catalog {
    margin-top: 45px;
    width: 1161px;
    height: 308px;

    display: flex;
    justify-content: space-between;
}



.dashboard__footer {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__request {
    width: 613px;
}

.footer__request-question {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.footer__request-form {
    width: 100%;
}

.footer__request-form form {
    display: flex;
    align-items: center;

    margin-top: 24px;
}

.footer__request-form input {
    width: 354px;
    height: 54px;
    box-shadow: 0px 2px 4px 0px #75838e0a;

    box-shadow: 0px 8px 16px 0px #343c441a;
    padding: 10px;

    font-weight: 400;

    font-size: 14px;

    line-height: 20px;
    letter-spacing: 0.25px;
}

.footer__request-form button {
    background: linear-gradient(91.94deg, #710000 10.91%, #055a00 77.06%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-style: Bold;
    font-size: 15px;

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 61px;

    height: 52px;
    width: 198px;
    color: #fff;
}

.footer__contact {
    width: 347px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contact-element {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer__contact-element span {
    width: 88px;

    font-weight: 500;
    font-style: Medium;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: 0%;
}

.footer__contact-element p {
    font-weight: 400;

    font-size: 20px;

    line-height: 100%;
    letter-spacing: 0%;
}
@media only screen and (max-width: 1850px) {
.dashboard__content{

}
.dashboard__desc h3 {
        margin-bottom: 18px;
}
.dashboard_wrapper {
    padding: 33px 22px 45px 37px;
}
.dashboard__footer{
    margin-top: 45px;

}
.dashboard__catalog {
        margin-top: 30px;
}

}
@media only screen and (max-width: 1670px) {
    .dashboard__advertisement {
        display: none;
        visibility: hidden;
    }
    .dashboard__content {

    }
    .dashboard__catalog {
        width: 100%;
        justify-content: space-evenly;
    }
    .dashboard_wrapper {
        padding: 30px 22px 40px 22px;
    }
    .dashboard__desc h3 {
        font-weight: 600;
        font-size: 33px;
        line-height: 44px;

        margin-bottom: 14px;
    }
    .dashboard__desc p {
        font-size: 18px;
        line-height: 28.97px;
    }
    .dashboard__catalog {
        margin-top: 25px;
    }
    .dashboard__footer {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1480px) {
    .catalog__element {
        width: 231px;
        height: 285px;
    }
    .dashboard__catalog {
        justify-content: space-evenly;
    }
    .dashboard__desc {
        padding: 5px;
    }
    .dashboard__desc h3 {
        font-size: 31px;
    }
    .dashboard__footer {
        margin-top: 45px;
    }
}
@media only screen and (max-width: 1380px) {
    .dashboard_wrapper {
        padding: 20px;
    }
    .dashboard__desc {
        padding: 10px;
    }
    .dashboard__desc {
        font-size: 28px;
        line-height: 28px;
    }
    .dashboard__desc p {
        font-size: 17px;
        line-height: 24px;
    }
    .dashboard__desc p {
        font-size: 17px;
        line-height: 25.97px;
    }
    .dashboard__desc h3 {
        font-size: 23px;
        line-height: 30px;
    }
    .dashboard__desc p {
        font-size: 17px;
        line-height: 23.97px;
    }
    .dashboard__catalog {
        margin-top: 20px;
    }
    .dashboard__catalog {
        height: 270px;
    }
    .dashboard__footer {
        margin-top: 25px;
    }
    .footer__request-form button {
        height: 40px;
        width: 180px;
        font-size: 14px;
    }
    .footer__contact-element span {
        font-size: 17px;
    }
    .footer__contact-element p{
        font-size: 17px;
    }
    .catalog__element{
        height: 270px;
        width: 230px;
    }
}
/* ===== Телефоны ===== */
@media (max-width: 768px) {
    .dashboard_wrapper{
        border-radius: 0px;
    }
    .dashboard__catalog{
        height: initial;

        flex-wrap: wrap;
        align-items: center;
        
    }
    .catalog__element{
        width: 180px;
        margin-bottom: 20px;
    }
    .dashboard__desc{
        padding: 0;
    }
    .footer__request{
        width: 100%;
    }
    .dashboard__footer{
        flex-direction: column;
    }
    .footer__contact{
        width: 100%;
        margin-top: 35px;
    }
.footer__request-form form{
    flex-direction: column;
    align-items: initial;
}
.footer__request-form button{
    margin-left: 0px;
    margin-top: 20px;
}
}

